
  html,body, #root{
    border: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    position: relative;
  
    height: 100%;
    width: 100%;
    display: flex;
  }


  .cont-login{
    height: 100%;
    width: 100%;
    background-color: #00a651;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .logo-login{
      height: 150px;
      width: 240px;
      background-image: url(https://i.postimg.cc/fT3fzvyh/mibanco.png);
      background-size: cover;
      z-index: 4;
      bottom: 2em;
  }
.login{
    background-color: white;
    height: 19em;
    width: 22em;
    padding: 3em;
    border-radius: 25px;
}
 

/* FIN DE LOGIN--------------------------------------------------------------------------------- */

.header{
background-color: white;
display: inline-block;
flex-direction: column;
margin-top: 0;
height: 8em;
width: 100vw;
padding: 1em;
border-bottom: solid black 1px;
z-index: 3;
}
.logo-header{
    background-image: url("https://i.postimg.cc/8kfhHMct/logo-Mibanco-04.png");
    height: 90px;
    width: 160px;
    background-size: cover;
    margin-top: 0.5em;
    margin-left: 2em;
}

.header{
    background-color: white;
    display: inline-block;
    flex-direction: column;
    margin-top: 0;
    height: 8em;
    width: 100vw;
    padding: 1em;
    border-bottom: solid black 1px;
    z-index: 3;
    
    }
    .logo-header{
        background-image: url("https://i.postimg.cc/8kfhHMct/logo-Mibanco-04.png");
        height: 90px;
        width: 160px;
        background-size: cover;
        margin-top: 0.5em;
        margin-left: 2em;
    }
    
    

/* FIN DE HEADER ----------------------------------------------------------------------------------*/
.menu-options{
    display: flex;
    flex-wrap: wrap;
}
.cont-options{
justify-content: center;
    
    flex-direction: row;
}

.cont-btn-asig{
    background-color: transparent;
    width: 332px;
    border-radius: 5px;
    padding: 1em;
   }
   
   .btn-obs-asig{
       background-image: url("https://i.postimg.cc/rwbxHJHz/images.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       height: 50vh;
       /* border-radius: 5px; */
   }
   
   .obs-asig{
       color: white;
       /* padding: 1em; */
       background-color: #ffd100;
       /* border-radius: 5px; */
   }
   
   .cont-btn-ct{

       background-color: transparent;
       /* width: 300px; */
       border-radius: 5px;
      }
      
      .btn-obs-ct{
          background-image: url("https://i.postimg.cc/zfx9MNPS/images-1.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          height: 22vh;
          /* border-radius: 5px; */
      }
      
      .obs-ct{
          color: white;
          /* padding: 1em; */
          background-color: #ffd100;
          /* border-radius: 5px; */
      }
   
      .cont-btn-res{

       background-color: transparent;
       /* width: 300px; */

       /* border-radius: 5px; */
      }
      
      .btn-obs-res{
          background-image: url("https://i.postimg.cc/65KYdSM9/3-L5-HQRD5-SFFZRGXOJYM7-LTPGEU.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          height: 22vh;
          /* border-radius: 5px; */
      }
      
      .obs-res{
          color: white;
          /* padding: 1em; */
          background-color: #009c32;
          /* border-radius: 5px; */
      }

.btn-obs-asig{
    background-image: url("https://i.postimg.cc/rwbxHJHz/images.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
    /* border-radius: 5px; */
}

.obs-asig{
    color: white;
    /* padding: 1em; */
    background-color: #ffd100;
    /* border-radius: 5px; */
}
.btn-back{
    border-radius: 50%;
}
.h1-header{
    margin-top: -6%;
    text-align: center;
    padding: 1%;
}
.table-padding{
    padding: 2%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.view{
    width: 95%;
    display: flex;
    flex-direction: column;
}
.imput-cod-cli{
    width: 15%;
    padding: 1em;
    margin: 1em;
    font-size: 1.2em;
}
.btn-header{
    padding-left: 5em;
}


.table{
    display: inline-block;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    overflow: scroll;
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
    height: 50vh;
}

.popup{
    background-color: lawngreen;
}
.mod-res{
    width: 100%;
}